add:
{
	;Exploit Blocker - Fence to stop Canefield Skip
	"solid" "6"
	"origin" "-114 -12657 114"
	"angles" "0 270 0"
	"model" "models/props_urban/fence001_128.mdl"
	"classname" "prop_dynamic"
}